html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
.menu_header {
  width: 100vw;
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
}
.menu_header .left {
  background-color: #032044;
  width: 295px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_header .left .logo {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}
.menu_header .right {
  width: calc(100vw - 315px);
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.menu_header .right .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.menu_header .right .box_admin {
  display: flex;
  align-items: center;
}
.counter {
  font-size: 12px;
  margin-left: -10px;
  margin-top: -15px;
  border-radius: 10px;
}
.menu_header .right .box_admin .wrapper_admin {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu_header .right .box_admin .wrapper_admin .admin {
  margin-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.menu_left {
  width: 80px;
  background-color: #032044;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: calc(100vh - 62px);
}
.menu_left .top .item {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80px;
}
.menu_left .top .item .name_menu {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #032044;
  text-decoration: none;
  margin-top: 10px;
}
.menu_right {
  width: 215px;
  min-height: 100%;
  background-color: #f2f9ff;
}
.menu_right .item {
  padding: 10px;
  border-bottom: 1px solid #d5e2ea;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu_right .item .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  color: #000000;
}
.menu_right .item_child {
  padding: 10px 0px;
  border-bottom: 1px solid #d5e2ea;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.menu_right .name_item_child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #032044;
  margin-left: 10px;
  cursor: pointer;
}
.box_content {
  width: calc(100vw - 295px);
  padding: 10px;
  background-color: #f7f7f7;
}
.box_content .wrapper {
  background: #fff;
}
.box_content .box_option {
  padding: 10px 20px;
  display: flex;
  padding-bottom: 0px;
  width: 100%;
  background-color: #fff;
}
.box_content .box_option .option {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #888888;
  padding: 10px 0px;
  margin-right: 30px;
  text-decoration: none;
  background-color: #fff;
}
.box_content .box_option .btn:focus {
  outline: 0px;
}
.box_content .box_search {
  padding: 20px;
  display: flex;
}
.box_content .box_search .button_criteria {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  height: 35px;
}
.box_content .box_search .label_criteria {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-left: 10px;
  display: none;
  align-items: center;
}
.box_content .box_search .box_input_search {
  width: 100%;
  margin-left: 10px;
}
.box_content .box_search .box_input_search .input_search {
  width: 100%;
  height: 35px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 0px 10px;
    margin-bottom: 10px;
}
.box_content .box_search .box_input_search .input_search::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.box_content .box_search .box_input_search .box_button_search {
  display: flex;
}
.box_content .box_search .box_input_search .box_button_search .button_search {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: #3982d1;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.box_content
  .box_search
  .box_input_search
  .box_button_search
  .button_type_again {
  background: #ffffff;
  border: 1px solid #3982d1;
  border-radius: 2px;
  height: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #3982d1;
  padding: 0px 10px;
  border-radius: 5px;
}
.box_content .box_search .box_input_search .name_button_search {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 5px;
}
.box_content .wrapper .box_title {
  display: flex;
  width: 100%;
  background: #ffffff;
  border: 1px solid #dddddd;
  padding: 15px 0px;
}
.box_content .wrapper .box_title .title_small {
  width: 13%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #888888;
  text-align: center;
}
.box_content .wrapper .box_title .title_big {
  width: 16%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #888888;
  text-align: center;
}
.box_content .box_button_collapse {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box_content .box_button_collapse .button_collapse {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.box_content .wrapper .content {
  padding: 10px;
}
#profile {
  display: none;
}
.box_profile {
  width: 200px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 57px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #032044;
  margin-left: 10px;
}

.box_popover {
  color: red;
}
.hidden {
  display: none;
}
.none {
  display: none;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #fff transparent transparent transparent;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px #dee2e6);
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  right: 10px;
}
.triangle-with-shadow {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 5px -9px #dee2e6;
}
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #999;
  transform: rotate(45deg); /* Prefixes... */
  box-shadow: 2px 5px 10px 1px #dee2e6;
}
.box_pagination {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.box_pagination .page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #3982d1;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
#profile {
  display: none;
}
.box_profile {
  width: 200px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 57px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #032044;
  margin-left: 10px;
}
.collapse_body {
  padding: 0px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
.box_information {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100%;
  border-bottom: 1px solid #dee2e6;
}
.box_information .info_small {
  width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  min-height: 80px;
}
.box_information .info_big {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 80px;
  margin-top: 10px;
}
.box_information .text_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3982d1;
}
.box_information .text_gray {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  margin-top: 5px;
}
.box_information .box_info_book {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ca0101;
  background: #fee2e9;
  border: 1px solid #ca0101;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px 10px;
}
.box_information .text_black_bold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.box_information .text_black_bold img {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.box_information .text_black_normal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.box_information .text_green {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #329223;
  margin-top: 5px;
}
.box_information .text_red {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #ca0101;
  margin-top: 5px;
}
.box_information .text_orange {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fd8f00;
  margin-top: 5px;
}
.box_information .text_brown {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #555555;
  margin-top: 5px;
}
.box_information .box_info_receive {
  background: #3982d1;
  border: 1px solid #3982d1;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
}

.box_choose_criteria {
  width: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  position: absolute;
  display: none;
  padding: 20px;
  z-index: 10;
  margin-top: 40px;
}
.choose_criteria {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.choose_criteria input {
  accent-color: #329223;
}
.name_criteria {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  color: #333333;
  margin-left: 10px;
}
.box_option_criteria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.box_choose_criteria .box_option_criteria button:nth-child(1) {
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  color: #666666;
}
.box_choose_criteria .box_option_criteria button:nth-child(2) {
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  color: #3982d1;
}
.box_popover {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  position: absolute;
  display: none;
  z-index: 100;
  margin-top: 40px;
  margin-right: 120px;
  width: 200px;
}
.box_popover .item_popover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  color: #333333;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #eeeeee;
}
.box_popover .item_popover:hover {
  background-color: #f7f7f7;
}
#modalReceiveAccess .modal-header .close1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: transparent;
  border: 0px;
}
#modalReceiveAccess .modal-body {
  padding: 20px;
}

#modalReceiveAccess .modal-body .content_modal_receive_access {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  color: #333333;
}
.button_receive {
  background: #0d276e;
  border-radius: 3px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.tab_active {
  border-bottom: 3px solid #3982d1 !important;
  color: #3982d1 !important;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.my-active span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #3982d1!important;
    border-radius: 15px;
}
.pager{float: right!important;
    margin-right: 128px!important;}
.nodata{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    font-family: 'Montserrat';
    font-size: 25px;
    color: #666666;
    background-color: #fff;
    font-weight: bold;
    flex-direction: column;
}
.nodata svg{
    width: 100px;
    height: 100px;
}
