html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
.menu_header {
  width: 100vw;
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
}
.menu_header .left {
  background-color: #032044;
  width: 295px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_header .left .logo {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}
.menu_header .right {
  width: calc(100vw - 315px);
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.menu_header .right .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.menu_header .right .box_admin {
  display: flex;
  align-items: center;
}
.counter {
  font-size: 12px;
  margin-left: -10px;
  margin-top: -15px;
  border-radius: 10px;
}
.menu_header .right .box_admin .wrapper_admin {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu_header .right .box_admin .wrapper_admin .admin {
  margin-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.menu_left {
  width: 80px;
  background-color: #032044;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: calc(100vh - 62px);
}
.menu_left .top .item {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80px;
}
.menu_left .top .item .name_menu {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #032044;
  text-decoration: none;
  margin-top: 10px;
}
.menu_right {
  width: 215px;
  min-height: 100%;
  background-color: #f2f9ff;
}
.menu_right .item {
  padding: 10px;
  border-bottom: 1px solid #d5e2ea;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu_right .item .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  color: #000000;
}
.menu_right .item_child {
  padding: 10px 0px;
  border-bottom: 1px solid #d5e2ea;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.menu_right .name_item_child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #032044;
  margin-left: 10px;
  cursor: pointer;
}

.box_content {
  width: calc(100vw - 295px);
  padding: 10px;
  background-color: #f7f7f7;
  display: flex;
}
.box_content .box_left {
  padding-right: 10px;
  width: calc(100% - 300px);
}
.box_content .box_right {
  width: 300px;
}
.box_content .wrapper {
  background: #fff;
  border-radius: 3px;
  padding: 10px 20px;
}
.box_content .wrapper .box_title {
  display: flex;
  width: 100%;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;
}
.box_content .wrapper .box_title .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}
.box_content .wrapper .box_title svg {
  color: #000;
  width: 20px;
  height: 20px;
}
.box_content .wrapper .box_title .box_option {
  display: flex;
}
.box_content .button_confirm {
  background: #032044;
  border: 1px solid #032044;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 10px;
}
.box_content .button_cancel {
  background: #ca0101;
  border: 1px solid #ca0101;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
}
.divider {
  width: 100%;
  margin: 10px 0px;
  height: 1px;
  background-color: #cccccc;
}
.box_content .wrapper .row_info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.box_content .wrapper .row_info .box_info {
  display: flex;
  width: 100%;
  align-items: center;
}
.box_content .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #888888;
  width: 40%;
  text-align: left;
  padding: 0px;
}
.box_content .wrapper .row_info .info_black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  width: 60%;
  text-align: left;
}
.box_content .wrapper .row_info .info_red {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #ca0101;
  width: 60%;
  text-align: left;
}
.box_content .wrapper .info_green {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #329223;
  width: 60%;
  text-align: left;
}
.box_content .wrapper .row_info .button_edit {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px;
}
.box_content .wrapper .row_info .button_edit span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #0770cd;
  margin-left: 5px;
}
.box_content .wrapper .box_note {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  background: #f9fafa;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin-top: 10px;
  padding: 10px;
}
.box_content .wrapper .box_hotel {
  padding: 10px 0px;
}
.box_content .wrapper .box_hotel .flight_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.131197px;
  color: #000000;
  margin: 20px 0px 10px;
}
.box_content .wrapper .box_hotel .box_rating {
  margin-top: 10px;
}
.box_content .wrapper .box_hotel .box_rating svg {
  width: 20px;
  height: 20px;
}
.box_content .wrapper .box_hotel .button_option {
  background: #f9fafa;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #888888;
}
.box_content .wrapper .box_hotel .box_checkin {
  margin-top: 20px;
  background: #f9fafa;
  border: 1px solid #d5e2ea;
  border-radius: 5px;
  padding: 10px;
}
.box_content .wrapper .box_hotel .box_checkin .image {
  width: 80px;
  height: 50px;
}
.box_content .wrapper .box_hotel .box_checkin .checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #000000;
}
.box_content .wrapper .box_hotel .box_checkin .wrapper_checkin {
  text-align: center;
}
.box_content .wrapper .box_hotel .box_checkin .hour_checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.131197px;
  color: #000000;
}
.box_content .wrapper .box_hotel .box_checkin .date_checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.131197px;
  color: #000000;
  margin-top: 10px;
}
.box_content .wrapper .box_hotel .box_checkin .dot {
  width: 12px;
  height: 12px;
}
.box_content .wrapper .box_hotel .note_checkin {
  background: rgba(254, 198, 212, 0.51);
  border: 1px solid #ca0101;
  border-radius: 10px;
  padding: 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ca0101;
}

.box_content .wrapper .box_hotel .button_show_checkin {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #0770cd;
}
.box_content .wrapper .box_hotel .button_show_checkin svg {
  width: 20px;
  height: 20px;
  color: #0770cd;
  margin-left: 20px;
}
.box_content .wrapper .box_hotel .box_info_checkin {
  padding: 20px;
}
.box_content .wrapper .box_hotel .box_info_checkin .info_checkin_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0770cd;
}
.box_content .wrapper .box_hotel .box_info_checkin .row_info_checkin {
  padding: 10px;
  display: flex;
  margin: 0px;
  width: 100%;
}
.box_content .wrapper .box_hotel .box_info_checkin .wrapper_row_info_child {
  width: 100%;
}
.box_content
  .wrapper
  .box_hotel
  .box_info_checkin
  .row_info_checkin
  .row_info_child {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.box_content .wrapper .box_hotel .box_info_checkin .policy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 20px;
}
.box_content
  .wrapper
  .box_hotel
  .box_info_checkin
  .row_info_checkin
  .label_checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #888888;
  width: 40%;
}
.box_content
  .wrapper
  .box_hotel
  .box_info_checkin
  .row_info_checkin
  .info_black_checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #000000;
  width: 60%;
}
.box_content .box_right .box_room {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}
.box_content .box_right .box_room .box_info {
  display: flex;
}
.box_content .box_right .box_room .box_info .wrapper_name {
  width: 180px;
}
.box_content .box_right .box_room .box_info .wrapper_name .name_room {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #032044;
}
.box_content .name_gray {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #666666;
  margin-top: 10px;
}
.box_content .name_green {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #329223;
  margin-top: 10px;
}
.box_content .name_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #0770cd;
  margin-top: 10px;
}
.box_content .box_right .box_room .box_info .wrapper_name .name_red {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ca0101;
  margin-top: 10px;
}
.box_content .box_right .box_room .box_info .wrapper_image {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box_content .box_right .box_room .box_info .wrapper_image .image {
  width: 80px;
  height: 50px;
}
.box_content .box_right .box_room .box_price {
  margin-top: 20px;
  width: 100%;
}
.box_content .box_right .box_info_price {
  width: 100%;
  margin-top: 10px;
}
.box_content .box_right .box_info_price_parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.box_content .box_right .box_price .box_info_price .box_info_price_child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.box_content .box_right .box_room .box_price .box_info_price .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.box_content .box_right .name_black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #000;
}
.box_content .box_right .box_room .box_total_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.box_content .box_right .box_total {
  background: #eefced;
  border: 1px solid #329223;
  border-radius: 3px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 10px;
}
.box_content .box_right .box_total .total {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin-top: 15px;
}
.box_content .box_right .box_activity_log {
  width: 100%;
  background: #cccccc;
  box-shadow: 1.3px 11.9px 33px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  margin-top: 10px;
}
.box_content .box_right .box_activity_log .activity_log {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.box_content .box_left .label_upper {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  text-transform: uppercase;
  color: #888888;
}
#profile {
  display: none;
}
.box_profile {
  width: 200px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 57px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #032044;
  margin-left: 10px;
}

#collapseInfoInsurance .row_info_insurance {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#collapseInfoInsurance .row_info_insurance .label_insurance {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #888888;
  width: 40%;
}
#collapseInfoInsurance .row_info_insurance .info_insurance_black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  width: 60%;
}

#collapseInfoInsurance .box_table_insurance {
  background: #f9fafa;
  border: 1px solid #d5e2ea;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
#collapseInfoInsurance .box_table_insurance .row_table_insurance {
  width: 100%;
  display: flex;
  align-items: center;
}
#collapseInfoInsurance .box_table_insurance .td_insurance_gray {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  color: #888888;
}
#collapseInfoInsurance .box_table_insurance .td_insurance_black_bold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
#collapseInfoInsurance .box_table_insurance .td_insurance_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #0770cd;
}
#collapseInfoInsurance .box_table_insurance .td_insurance_black_normal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
#collapseInfoInsurance .box_table_insurance .small {
  width: 5%;
  text-align: center;
}
#collapseInfoInsurance .box_table_insurance .normal {
  width: 15%;
  text-align: center;
}
#collapseInfoInsurance .box_table_insurance .big {
  width: 20%;
  text-align: center;
}
#collapseInfoInsurance .box_table_insurance .row_table_insurance button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #0770cd;
  background-color: transparent;
}
#collapseAlternate .box_alternate {
  background: #f9fafa;
  border: 1px solid #d5e2ea;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
#collapseAlternate .box_alternate .row_info_alternate {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
#collapseAlternate .box_alternate .row_info_alternate .label_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.131197px;
  color: #888888;
}
#collapseAlternate .box_alternate .info_blue_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.131197px;
  color: #0770cd;
}
#collapseAlternate .box_alternate .info_gray_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  text-transform: uppercase;
  color: #888888;
}
#collapseAlternate .box_alternate .button_option_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.131197px;
  color: #0770cd;
  background-color: transparent;
}
#collapseAlternate .box_alternate .button_option_cancel_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.131197px;
  color: #ca0101;
  background-color: transparent;
}
#collapseAlternate .box_alternate .info_blue_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #0770cd;
}
#collapseAlternate .box_alternate .info_red_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #ca0101;
}
#collapseAlternate .box_alternate .info_black_normal_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #000000;
}
#collapseAlternate .box_alternate .info_black_bold_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #000000;
}
#collapseAlternate .box_alternate .info_black_small_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #000000;
}
#collapseAlternate .box_alternate .info_green_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #329223;
}
#collapseAlternate .box_alternate .info_orange_alternate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #f1a822;
}
#collapseAlternate .image {
  width: 50px;
  height: 30px;
}
#collapseAlternate .box_alternate .wrapper_info_alternate {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
#collapseAlternate .box_alternate .forty_per_alternate {
  width: 40%;
}
#collapseAlternate .box_alternate .sixty_per_alternate {
  width: 60%;
}
#collapseAlternate .box_alternate .fifty_alternate {
  width: 50%;
}
#collapseAlternate .wrapper_detail_alternate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

#collapseActivityLog .info_gray_bold_activity_log {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.131197px;
  color: #666666;
  padding: 10px;
}
#collapseActivityLog .info_gray_normal_activity_log {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.131197px;
  color: #666666;
  padding: 10px;
}

#collapseDeal .row_info_deal .label_deal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #888888;
  width: 40%;
}
#collapseDeal .row_info_insurance .info_deal_black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  width: 60%;
}

#collapseDeal .box_table_insurance {
  background: #f9fafa;
  border: 1px solid #d5e2ea;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
#collapseDeal .row_deal {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 10px 0px;
}
#collapseDeal .header_deal {
  width: 20%;
  text-align: center;
}
#collapseDeal .row_info_deal {
  width: 20% !important;
  text-align: center;
}
#collapseDeal .td_deal_gray {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  color: #888888;
}
#collapseDeal .td_deal_black_bold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
#collapseDeal .td_deal_normal_bold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
#collapseDeal .td_deal_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #0770cd;
  line-break: anywhere;
}
#collapseDeal .td_deal_red {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #ca0101;
}
#collapseDeal .td_deal_green {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #329223;
}

#box_option_flight_detail button {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #EEEEEE;
  text-align: left;
  padding-left: 10px;
}
