html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
.menu_header {
  width: 100vw;
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
}
.menu_header .left {
  background-color: #032044;
  width: 295px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_header .left .logo {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}
.menu_header .right {
  width: calc(100vw - 315px);
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}  
.menu_header .right .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.menu_header .right .box_admin {
  display: flex;
  align-items: center;
}
.counter {
  font-size: 12px;
  margin-left: -10px;
  margin-top: -15px;
  border-radius: 10px;
}
.menu_header .right .box_admin .wrapper_admin {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu_header .right .box_admin .wrapper_admin .admin {
  margin-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.menu_left {
  width: 80px;
  background-color: #032044;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: calc(100vh - 62px);
}
.menu_left .top .item {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80px;
}
.menu_left .top .item .name_menu {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #032044;
  text-decoration: none;
  margin-top: 10px;
}
.menu_right {
  width: 215px;
  min-height: 100%;
  background-color: #f2f9ff;
}
.menu_right .item {
  padding: 10px;
  border-bottom: 1px solid #d5e2ea;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu_right .item .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  color: #000000;
}

.box_content {
  width: calc(100vw - 295px);
  padding: 10px;
  background-color: #f7f7f7;
}
.box_content .wrapper {
  background: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 4px #eeeeee;
  border-radius: 5px;
}
.box_content .box_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.box_content .box_title .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.box_content .wrapper .content {
  padding: 10px;
}
.box_content .wrapper .content .row_input {
  width: 100%;
  display: flex;
}
.box_content .wrapper .content .row_input .box_input {
  width: 100%;
  padding: 10px;
}
.box_content .wrapper .content .row_input .box_input .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
}
.box_content .wrapper .content .row_input .box_input .input {
  margin-top: 5px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
}
.box_content
  .wrapper
  .content
  .row_input
  .box_input
  input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}
.box_content .wrapper .content .row_input .box_input select {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 5px;
  color: gray;
  font-size: 14px;
}
.box_content .wrapper .content .row_input .box_input .wrapper_date {
  display: flex;
  align-items: center;
}
.box_content .wrapper .content .row_input .box_input .button_date {
  width: 35px;
  height: 35px;
  background: #e9ecef;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333333;
}

.box_content .wrapper .box_option {
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: end;
}
.button_option {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  border-radius: 5px;
  height: 35px;
  padding: 10px;  
  margin-right: 10px;
  cursor: pointer;
}
.button_option .name_button_option {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
  color: #fff;
}
.box_content .wrapper .box_option .button_clear {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.box_content .wrapper .content table {
  width: 100%;
  border-collapse: collapse;
}
.box_content .wrapper .content table tr {
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #dee2e6;
}
.box_content .wrapper .content table tr th {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  padding-bottom: 10px;
}
.box_content .wrapper .content table tr .small {
  width: 5%;
}
.box_content .wrapper .content table tr .medium {
  width: 10%;
}
.box_content .wrapper .content table tr .big {
  width: 20%;
}
.box_content .wrapper .content table tr .ma_chuong_trinh {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3982d1;
}
.box_content .wrapper .content table tr .ma_khuyen_mai .ten {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.box_content .wrapper .content table tr .chuong_trinh_khuyen_mai {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.box_content .wrapper .content table tr .ma_khuyen_mai .active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #329223;
}
.box_content .wrapper .content table tr .ma_khuyen_mai .inactive {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #fb7604;
}.box_content .wrapper .content table tr .ma_khuyen_mai .deactive {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: rgb(255, 0, 0);
}
.box_content .wrapper .content table tr .ma_khuyen_mai .expired {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #555555;
}
.box_content .wrapper .content table tr .ma_khuyen_mai .deactivate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ca0101;
}
.box_content .wrapper .content table tr .loai_khuyen_mai .ten {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.box_content .wrapper .content table tr .loai_khuyen_mai .country {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #888888;
}
.box_content .wrapper .content table tr .wrapper_icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile {
  display: none;
}
.box_profile {
  width: 200px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 57px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #032044;
  margin-left: 10px;
}

.box_popover {
  color: red;
}
.hidden {
  display: none;
}
.none {
  display: none;
}
#box_option_discount1 ,
#box_option_discount11 ,
#box_option_discount12 ,
#box_option_discount13 ,
#box_option_discount14 ,
#box_option_discount15 ,
#box_option_discount16 ,
#box_option_discount17 ,
#box_option_discount18 ,
#box_option_discount19 ,
#box_option_discount20 ,
#box_option_discount21 ,
#box_option_discount22 ,
#box_option_discount23 ,
#box_option_discount24 ,
#box_option_discount25 ,
#box_option_discount26 ,
#box_option_discount27 ,
#box_option_discount28,
#box_option_discount29,
#box_option_discount30 ,#box_option_discount2, #box_option_discount3 ,#box_option_discount4, #box_option_discount5, #box_option_discount6, #box_option_discount7,#box_option_discount8,#box_option_discount9,#box_option_discount10 {
  width: 130px;
  position: absolute;
  z-index: 10;
  display: none;
  right: 40px;
  margin-top: 150px;
  box-shadow: 2px 2px 5px #dee2e6;
  background: #ffffff;
  border-radius: 3px;
  color: #888888;
}
#box_option_discount1 .button_option_discount,
#box_option_discount11 .button_option_discount,
#box_option_discount12 .button_option_discount,
#box_option_discount13 .button_option_discount,
#box_option_discount14 .button_option_discount,
#box_option_discount15 .button_option_discount,
#box_option_discount16 .button_option_discount,
#box_option_discount17 .button_option_discount,
#box_option_discount18 .button_option_discount,
#box_option_discount19 .button_option_discount,
#box_option_discount20 .button_option_discount,
#box_option_discount21 .button_option_discount,
#box_option_discount22 .button_option_discount,
#box_option_discount23 .button_option_discount,
#box_option_discount24 .button_option_discount,
#box_option_discount25 .button_option_discount,
#box_option_discount26 .button_option_discount,
#box_option_discount27 .button_option_discount,
#box_option_discount28 .button_option_discount,
#box_option_discount29 .button_option_discount,
#box_option_discount30 .button_option_discount,#box_option_discount2 .button_option_discount,#box_option_discount3 .button_option_discount,#box_option_discount4 .button_option_discount,#box_option_discount5 .button_option_discount,#box_option_discount6 .button_option_discount,#box_option_discount7 .button_option_discount,#box_option_discount8 .button_option_discount,#box_option_discount9 .button_option_discount,#box_option_discount10 .button_option_discount {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
#box_option_discount1 .button_option_discount:hover,
#box_option_discount2 .button_option_discount:hover,
#box_option_discount3 .button_option_discount:hover,
#box_option_discount4 .button_option_discount:hover,
#box_option_discount5 .button_option_discount:hover,
#box_option_discount6 .button_option_discount:hover,
#box_option_discount7 .button_option_discount:hover,
#box_option_discount8 .button_option_discount:hover,
#box_option_discount9 .button_option_discount:hover,
#box_option_discount10 .button_option_discount:hover,
#box_option_discount11 .button_option_discount:hover,
#box_option_discount12 .button_option_discount:hover,
#box_option_discount13 .button_option_discount:hover,
#box_option_discount14 .button_option_discount:hover,
#box_option_discount15 .button_option_discount:hover,
#box_option_discount16 .button_option_discount:hover,
#box_option_discount17 .button_option_discount:hover,
#box_option_discount18 .button_option_discount:hover,
#box_option_discount19 .button_option_discount:hover,
#box_option_discount20 .button_option_discount:hover,
#box_option_discount21 .button_option_discount:hover,
#box_option_discount22 .button_option_discount:hover,
#box_option_discount23 .button_option_discount:hover,
#box_option_discount24 .button_option_discount:hover,
#box_option_discount25 .button_option_discount:hover,
#box_option_discount26 .button_option_discount:hover,
#box_option_discount27 .button_option_discount:hover,
#box_option_discount28 .button_option_discount:hover,
#box_option_discount29 .button_option_discount:hover,
#box_option_discount30 .button_option_discount:hover {
  background-color: #f7f7f7;
}
#box_option_discount1 .button_option_discount .name a,
#box_option_discount2 .button_option_discount .name a,
#box_option_discount3 .button_option_discount .name a,
#box_option_discount4 .button_option_discount .name a,
#box_option_discount5 .button_option_discount .name a,
#box_option_discount6 .button_option_discount .name a,
#box_option_discount7 .button_option_discount .name a,
#box_option_discount8 .button_option_discount .name a,
#box_option_discount9 .button_option_discount .name a,
#box_option_discount10 .button_option_discount .name a,
#box_option_discount11 .button_option_discount .name a,
#box_option_discount12 .button_option_discount .name a,
#box_option_discount13 .button_option_discount .name a,
#box_option_discount14 .button_option_discount .name a,
#box_option_discount15 .button_option_discount .name a,
#box_option_discount16 .button_option_discount .name a,
#box_option_discount17 .button_option_discount .name a,
#box_option_discount18 .button_option_discount .name a,
#box_option_discount19 .button_option_discount .name a,
#box_option_discount20 .button_option_discount .name a,

#box_option_discount21 .button_option_discount .name a,
#box_option_discount22 .button_option_discount .name a,
#box_option_discount23 .button_option_discount .name a,
#box_option_discount24 .button_option_discount .name a,
#box_option_discount25 .button_option_discount .name a,
#box_option_discount26 .button_option_discount .name a,
#box_option_discount27 .button_option_discount .name a,
#box_option_discount28 .button_option_discount .name a,
#box_option_discount29 .button_option_discount .name a,
#box_option_discount30 .button_option_discount .name a{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  margin-left: 5px;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #fff transparent transparent transparent;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px #dee2e6);
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  right: 10px;
}
.triangle-with-shadow {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 5px -9px #dee2e6;
}
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #999;
  transform: rotate(45deg); /* Prefixes... */
  box-shadow: 2px 5px 10px 1px #dee2e6;
}
.box_pagination {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.box_pagination .page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #3982d1;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

#modalCreate .box_option {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
.box_content .wrapper {
  background: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 4px #eeeeee;
  border-radius: 5px;
  margin-bottom: 20px;
}
#modalCreate .box_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#modalCreate .wrapper .box_title .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
#modalCreate .box_option .button_save {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  border-radius: 5px;
  height: 35px;
  padding: 10px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  border: 1px solid #007bff;
  margin-right: 10px;
}
#modalCreate .box_option .button_watch {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  height: 35px;
  padding: 10px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #007bff;
  border: 1px solid #007bff;
  margin-right: 10px;
}
#modalCreate .wrapper .content {
  padding: 0px;
}
#modalCreate .wrapper .content .row_input {
  width: 100%;
  display: flex;
  padding: 10px;
}
#modalCreate .wrapper .content .row_input .box_input {
  width: 100%;
  padding: 0px 10px;
}
#modalCreate .wrapper .content .row_input .box_input .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
}
#modalCreate .wrapper .content .row_input .box_input .label .star {
  color: red;
  margin-left: 5px;
}
#modalCreate .wrapper .content .row_input .box_input .input {
  margin-top: 5px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  resize: none;
}
.help_text_input {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #666666;
  margin-top: 5px;
}
.help_text_choose_file {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: #666666;
  margin-top: 5px;
}
#modalCreate .wrapper .content .row_input .box_input select {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 5px;
  color: gray;
  font-size: 14px;
}
#modalCreate .wrapper .content .row_input .box_input .button_choose_file {
  height: 35px;
  background: #28a745;
  border-radius: 5px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#modalCreate .wrapper .content .row_input .box_input .name_button_choose_file {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-left: 5px;
  color: #fff;
}
#modalCreate
  .wrapper
  .content
  .row_input
  .box_input
  input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}
#modalCreate .wrapper .content .row_input .box_input .pathname {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-top: 10px;
  display: flex;
}
#modalCreate .wrapper .content .row_input .box_input .pathname .left {
  width: 20%;
  padding: 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  height: 35px;
  display: flex;
  align-items: center;
  border-right: 1px solid #dee2e6;
}
#modalCreate .wrapper .content .row_input .box_input .pathname .right {
  width: 80%;
  border: 0px;
  padding: 0px 10px;
}
#modalCreate .wrapper .content .row_input .box_input select {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 5px;
  color: gray;
  font-size: 14px;
}
#modalCreate .wrapper .content .row_input .box_input .wrapper_date {
  display: flex;
  align-items: center;
}
#modalCreate .wrapper .content .row_input .box_input .button_date {
  width: 35px;
  height: 35px;
  background: #e9ecef;
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333333;
}
#modalCreate .wrapper .content .row_input .box_input .box_discount {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 10px;
}
#modalCreate .wrapper .content .row_input .box_input .box_discount .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  margin-top: 10px;
}
#modalCreate .wrapper .content .row_input .box_input .box_discount .input {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  resize: none;
}
#modalCreate .wrapper .content .row_input .box_input .box_help_text_supplier {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modalCreate .wrapper .content .row_input .box_input .box_discount_chosen {
  min-height: 35px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  display: flex;
  overflow: auto;
  margin-top: 10px;
}
#modalCreate
  .wrapper
  .content
  .row_input
  .box_input
  .box_discount_chosen
  .item {
  height: 25px;
  left: 324px;
  top: 1324px;
  background: #007bff;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile {
  display: none;
}
.box_profile {
  width: 200px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 57px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #032044;
  margin-left: 10px;
}
#box_discount1 {
  display: block;
}
#box_discount2 {
  display: none;
}
.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--multiple {
  border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 35px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #007bff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}
.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice
  .select2-selection__choice__remove {
  width: 22px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0px;
}
.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice
  .select2-selection__choice__remove:hover {
  background-color: #007bff;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  color: #fff;
  margin-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.select2.select2-container
  .select2-selection--multiple
  .select2-search--inline
  .select2-search__field {
  margin-top: 0;
  height: 32px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__rendered {
  display: block;
  line-height: 29px;
}

#modal-review .modal-content {
  width: 910px;
}
#modal-review .modal-header {
  height: 390px;
  padding: 0px;
}
#modal-review .modal-header .close1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: transparent;
  border: 0px;
}
#modal-review .modal-header img {
  width: 100%;
  height: 390px;
  border-radius: 5px 5px 0px 0px;
}
#modal-review .modal-body {
  padding: 0px;
}
#modal-review .modal-body .title1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #333333;
  width: 100%;
  margin-top: 20px;
}
#modal-review .modal-body .title2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  padding: 0px 20px;
}
#modal-review .modal-body .box_id_discount {
  width: 430px;
  border: 2px dotted #d2d4d4;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#modal-review .modal-body .box_id_discount .title1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}
#modal-review .modal-body .box_id_discount .title2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #888888;
}
#modal-review .modal-body .box_id_discount .box_id {
  width: 230px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #d6d6d6;
  margin-top: 10px;
  border-radius: 10px;
}
#modal-review .modal-body .box_id_discount .box_id .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #0770cd;
}
#modal-review .modal-body .box_expiry_date {
  margin-top: 20px;
  padding: 20px 0px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-review .modal-body .box_expiry_date .expiry_date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #333333;
}
#modal-review .modal-body .box_expiry_date .date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  margin-left: 20px;
}

#modal-review .modal-body .box_term_and_condition {
  padding: 20px 0px;
}
#modal-review .modal-body .box_term_and_condition .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #333333;
  margin-left: 20px;
}
.card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding: 5px 20px;
}
.card-header button {
  background-color: transparent;
  border: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.card-body {
  padding: 20px 40px;
}
.card-body .box_info {
  width: 100%;
  display: flex;
  align-items: center;
}
.card-body .box_info .info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}


.none{
    display: none!important;
}

.badge{

    background-color: red!important;
}

a:hover{

    text-decoration: none!important;
}

.pager{float: right!important;
    margin-right: 128px!important;}




<!--search hotel-->

    #profile {
        display: none;
    }
.box_profile {
    width: 200px;
    height: 60px;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    top: 57px;
    right: 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: #032044;
    margin-left: 10px;
}
.box_content {
    width: calc(100vw - 295px);
    padding: 10px;
    background-color: #f7f7f7;
}

.box_content .search_hotel {
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 100%;
}
.box_content .search_hotel .item_search {
    border-right: 1px solid lightgray;
}
.box_content .search_hotel svg {
    width: 25px;
    height: 25px;
    color: #888888;
}
.box_content .search_hotel input {
    border: 0px;
    width: 100%;
}
.box_content .search_hotel input:focus {
    outline: 0px;
}
.box_content .search_hotel .search_home_submit {
    background-color: #007bff;
    text-transform: uppercase;
    color: #fff;
}
.box_content .box_filter {
    border-radius: 5px 5px 2px 2px;
    border-top: 2px solid #007bff;
    background-color: #fff;
}
.box_content .box_filter .search_filter_input {
    position: relative;
}
.box_content .box_filter .search_filter_input svg {
    position: absolute;
    top: 11px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: #888888;
}
.box_content .box_filter .search_filter_input input {
    padding-left: 35px;
    color: #888888;
    width: 100%;
    outline: 1px solid #888888;
    border: 0px;
    font-size: 14px;
}
.box_content .box_filter .search_filter_input input:focus {
    /* border: 1px solid #3c8dbc; */
    border: 0px;
    outline: 1px solid #3c8dbc;
}
.box_content .box_filter .search_button_collapse {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}
.box_content .box_filter .search_button_collapse svg {
    color: #888888;
}
.box_content .box_filter .search_box_collapse .search_checkbox_filter {
    min-width: 20px;
    min-height: 20px;
    accent-color: #3c8dbc;
}
.box_content .box_filter .search_box_collapse button {
    border-radius: 5px;
    background-color: #fff;
    margin-left: 2px;
    padding: 2px;
}
#box_result_search.show{
	opacity: 1;
	pointer-event: all
}
#box_result_search{
	transition: 1s;
	opacity: 0;
	pointer-event: none
}
#box_result_search .item_result_search {
}
.box_content .box_filter .show_collapse {
    display: block;
}
.box_content .box_filter .hide_collapse {
    display: none;
}
#box_dropdown_sort_result_search_hotel button {
    width: 100%;
    text-align: left;
}
#box_dropdown_sort_result_search_hotel button:hover {
    background-color: #3c8dbc;
    color: #fff;
    border-radius: 0px;
}
.item_result_search img {
    width: 100%;
    height: 100%;
}
#search_box_choose .your_room_content {
    position: relative;
    color: #888888;
    padding: 20px;
    background: #fefefe;
    border: 1px solid #3c982e;
    box-sizing: border-box;
    box-shadow: 0.1px 3px 6px #00000029;
    border-radius: 5px;
}
#search_box_choose .your_room_content .your_room_line {
    border-right: 1px solid #888888;
}
#search_box_choose .your_room_content .your_room_book {
    width: 152px;
    height: 45px;
    background: #3c8dbc;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.font_size_25 {
    font-size: 25px !important;
    font-family: "Montserrat";
}
.font_size_20 {
    font-size: 20px !important;
    font-family: "Montserrat";
}
.font_size_18 {
    font-size: 18px !important;
    font-family: "Montserrat";
}
.font_size_16 {
    font-size: 16px !important;
    font-family: "Montserrat";
}
.font_size_15 {
    font-size: 15px;
    font-family: "Montserrat";
}
.font_size_14 {
    font-size: 14px;
    font-family: "Montserrat";
}
.font_size_13 {
    font-size: 13px;
    font-family: "Montserrat";
}
.font_size_12 {
    font-size: 12px !important;
    font-family: "Montserrat";
}
.font400 {
    font-weight: 400 !important;
}
.font500 {
    font-weight: 500 !important;
}
.font800 {
    font-weight: 800 !important;
}
.flex-direction-column {
    flex-direction: column;
}
.line_through {
    text-decoration: line-through !important;
}
.color_white {
    color: #fff !important;
}
.color8 {
    color: #888888;
}
.color3 {
    color: #333333;
}
.color_green {
    color: #329223 !important;
}
.color_blue {
    color: #007bff;
}
.color_red {
    color: #DC3545
}
.background_purple {
    background-color: #0d276e;
}
.background_green {
    background-color: #eefced;
}
.background_white {
    background-color: #fff;
}
.background_888 {
    background-color: #888888;
}
.background_blue{
    background-color: #F2F9FF
}
.border_radius_3 {
    border-radius: 3px;
}
.icon20x20 {
    width: 20px;
    height: 20px;
}
.icon30x30 {
    width: 30px;
    height: 30px;
}
.icon40x40 {
    width: 40px;
    height: 40px;
}
.c-img {
    display: block;
    position: relative;
}
.c-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.px-20-px {
    padding-left: 20px;
    padding-right: 20px;
}
.py-30-px {
    padding-top: 30px;
    padding-bottom: 30px;
}
.divider_horizontal {
    height: 1px;
    width: 100%;
}
#search_box_booking .complete_booking {
    margin: 30px auto 0;
    width: 285px;
    height: 48px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: inherit;
    color: #ffffff;
    display: flex;
}
#search_box_booking .select2-container--default .select2-selection--single {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search_box_booking
.select2-container--default
.select2-selection--single
.select2-selection__arrow {
    height: 26px;
    position: absolute;
    width: 20px;
    display: flex;
    right: 5px;
    top: 5px;
}
.select2-container {
    width: 100% !important;
}

.resize-none {
    resize: none;
}

li a{
    color: black!important;
    margin-left: 10px;
}

