  .popover_status1{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status2{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status3{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status4{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status5{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status6{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;45px
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status7{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status8{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status9{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status10{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status11{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status12{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status13{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status14{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status15{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status16{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status17{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status18{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status19{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .popover_status20{
                           background: white; position: absolute; margin-top: 45px; z-index: 10; padding: 10px; display: flex; align-items: center; flex-direction: column; justify-content: center; display: none;
                           border: 1px solid;
                           padding: 10px;
                           box-shadow: 1px 2px #888888;
                           margin-left: 62px;
                           }
                           .switch {
                           position: relative;
                           display: inline-block;
                           width: 50px;
                           height: 28px;
                           margin-top: 15px
                           }
                           .switch input {
                           opacity: 0;
                           width: 0;
                           height: 0;
                           }
                           .slider {
                           position: absolute;
                           cursor: pointer;
                           top: 0;
                           left: 0;
                           right: 0;
                           bottom: 0;
                           background-color: #ccc;
                           -webkit-transition: .4s;
                           transition: .4s;
                           }
                           .slider:before {
                           position: absolute;
                           content: "";
                           height: 20px;
                           width: 20px;
                           left: 4px;
                           bottom: 4px;
                           background-color: white;
                           -webkit-transition: .4s;
                           transition: .4s;
                           }
                           input:checked + .slider {
                           background-color: #2196F3;
                           }
                           input:focus + .slider {
                           box-shadow: 0 0 1px #2196F3;
                           }
                           input:checked + .slider:before {
                           -webkit-transform: translateX(26px);
                           -ms-transform: translateX(26px);
                           transform: translateX(26px);
                           }
                           /* Rounded sliders */
                           .slider.round {
                           border-radius: 34px;
                           }
                           .slider.round:before {
                           border-radius: 50%;
                           }
