html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
.menu_header {
  width: 100vw;
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
}
.menu_header .left {
  background-color: #032044;
  width: 295px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_header .left .logo {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}
.menu_header .right {
  width: calc(100vw - 315px);
  background-color: #fff;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.menu_header .right .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.menu_header .right .box_admin {
  display: flex;
  align-items: center;
}
.counter {
  font-size: 12px;
  margin-left: -10px;
  margin-top: -15px;
  border-radius: 10px;
}
.menu_header .right .box_admin .wrapper_admin {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu_header .right .box_admin .wrapper_admin .admin {
  margin-left: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.menu_left {
  width: 80px;
  background-color: #032044;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: calc(100vh - 62px);
}
.menu_left .top .item {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80px;
}
.menu_left .top .item .name_menu {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #032044;
  text-decoration: none;
  margin-top: 10px;
}
.menu_right {
  width: 215px;
  min-height: 100%;
  background-color: #f2f9ff;
}
.menu_right .item {
  padding: 10px;
  border-bottom: 1px solid #d5e2ea;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu_right .item .name_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  color: #000000;
}

.box_content {
  width: calc(100vw - 295px);
  padding: 10px;
  background-color: #f7f7f7;
  display: flex;
}
.box_content .box_left {
  padding-right: 10px;
  width: calc(100% - 300px);
}
.box_content .box_right {
  width: 300px;
}
.box_content .wrapper {
  background: #fff;
  border-radius: 3px;
  padding: 10px 20px;
}
.box_content .wrapper .box_title {
  display: flex;
  width: 100%;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;
}
.box_content .wrapper .box_title .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}
.box_content .wrapper .box_title svg{
  color: #000;
  width: 20px;
  height: 20px;
}
.box_content .wrapper .box_title .box_option {
  display: flex;
}
.box_content .wrapper .box_title .box_option .button_confirm {
  background: #032044;
  border: 1px solid #032044;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 10px;
}
.box_content .wrapper .box_title .box_option .button_cancel {
  background: #ca0101;
  border: 1px solid #ca0101;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
}
.divider {
  width: 100%;
  margin: 10px 0px;
  height: 1px;
  background-color: #cccccc;
}
.box_content .wrapper .row_info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.box_content .wrapper .row_info .box_info {
  display: flex;
  width: 100%;
  align-items: center;
}
.box_content .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #888888;
  width: 40%;
  text-align: left;
  padding: 0px;
}
.box_content .wrapper .row_info .info_black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  width: 60%;
  text-align: left;
}
.box_content .wrapper .row_info .info_red {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ca0101;
  width: 60%;
  text-align: left;
}
.box_content .wrapper .row_info .info_green {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #329223;
  width: 60%;
  text-align: left;
}
.box_content .wrapper .row_info .button_edit {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px;
}
.box_content .wrapper .row_info .button_edit span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #0770cd;
  margin-left: 5px;
}
.box_content .wrapper .box_note {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  background: #f9fafa;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin-top: 10px;
  padding: 10px;
}
.box_content .wrapper .box_hotel {
  padding: 10px 0px;
}
.box_content .wrapper .box_hotel .hotel_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #032044;
}
.box_content .wrapper .box_hotel .box_rating {
  margin-top: 10px;
}
.box_content .wrapper .box_hotel .box_rating svg {
  width: 20px;
  height: 20px;
}
.box_content .wrapper .box_hotel .button_option {
  background: #f9fafa;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #888888;
}
.box_content .wrapper .box_hotel .box_checkin {
  margin-top: 20px;
  background: #f9fafa;
  border: 1px solid #d5e2ea;
  border-radius: 5px;
  padding: 10px;
}
.box_content .wrapper .box_hotel .box_checkin .checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.131197px;
  color: #000000;
}
.box_content .wrapper .box_hotel .box_checkin .date_checkin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.131197px;
  color: #000000;
  margin-top: 15px;
}
.box_content .wrapper .box_hotel .note_checkin {
  background: rgba(254, 198, 212, 0.51);
  border: 1px solid #ca0101;
  border-radius: 10px;
  padding: 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ca0101;
}
.box_content .wrapper .box_hotel .button_show_checkin {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #0770cd;
}
.box_content .wrapper .box_hotel .button_show_checkin svg {
  width: 20px;
  height: 20px;
  color: #0770cd;
  margin-left: 20px;
}
.box_content .wrapper .box_hotel .box_info_checkin {
  padding: 20px;
}
.box_content .wrapper .box_hotel .box_info_checkin .info_checkin_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #0770cd;
}
.box_content .wrapper .box_hotel .box_info_checkin .policy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 20px;
}
.box_content .box_right .box_room {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}
.box_content .box_right .box_room .box_info {
  display: flex;
}
.box_content .box_right .box_room .box_info .wrapper_name {
  width: 150px;
}
.box_content .box_right .box_room .box_info .wrapper_name .name_room {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #032044;
}
.box_content .box_right .box_room .box_info .wrapper_name .name_gray {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #666666;
  margin-top: 10px;
}
.box_content .name_green {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #329223;
  margin-top: 10px;
}
.box_content .name_blue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #0770cd;
  margin-top: 10px;
}
.box_content .box_right .box_room .box_info .wrapper_name .name_red {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #ca0101;
  margin-top: 10px;
}
.box_content .box_right .box_room .box_info .wrapper_image {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box_content .box_right .box_room .box_info .wrapper_image .image {
  width: 100px;
  height: 100px;
}
.box_content .box_right .box_room .box_price {
  margin-top: 20px;
  width: 100%;
}
.box_content .box_right .box_info_price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.box_content .box_right .box_room .box_price .box_info_price .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}
.box_content .box_right .name_black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #000;
}
.box_content .box_right .box_room .box_total_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.box_content .box_right .box_total {
  background: #eefced;
  border: 1px solid #329223;
  border-radius: 3px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 10px;
}
.box_content .box_right .box_total .total {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin-top: 15px;
}
.box_content .box_right .box_activity_log {
  width: 100%;
  background: #cccccc;
  box-shadow: 1.3px 11.9px 33px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  margin-top: 10px;
}
.box_content .box_right .box_activity_log .activity_log {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
#profile {
  display: none;
}
.box_profile {
  width: 200px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 57px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 4px #888888;
}
.box_profile .logout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #032044;
  margin-left: 10px;
}
